* {
  box-sizing: border-box;
}

body {
  color: #2878e0;
  background: white;
  font-family: "Helvetica Neue", "Roboto, Arial", Roboto, Arial, "Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}


.container {
  width: 100%;
  padding: 0;
}
/* Navbar CSS */
.navbar-default {
  background-color: #2878e0;
  padding: 10px;
  border-color: transparent;
  float: left;
  margin-bottom: 10px;
  width: 100%;
}

.navbar-header {
  background-color: transparent;
  border-radius: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

#navbar-side {
    transition: margin-left .5s;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}

/* Logo in Navbar */

.nav-title {
  color: white;
  font-weight: 400;
  font-size: 22px;
  width: 50px;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0;
  padding-left: 10px;
  text-overflow: initial;
  margin-left: 0!important;
}
.site-title img {
  padding: 5px 6px;
  width: 60px;
  height: 60px;
}



/* Date and Time */
.navbar-right {
  padding: 15px;
  color: white;
}

/* Side Bar */

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 125px;
  height: 125px;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* Dashboard */

.dashboard {
  margin: 20px 25px 20px 25px;
}


.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.small-box > .inner {
  padding: 10px;
}

.bg-aqua {
  background-color: wheat;
}

.panel-green > .panel-heading {
  border-color: transparent;
  color: white;
  background-color: #5cb85c;
  padding: 30px;
}

/* @Media */

@media (min-width: 480px) {
  .navbar {
    position: static;
  }
}



