* {
  box-sizing: border-box;
}

body {
  color: #2878e0;
  overflow-x: scroll;
  height: 100%;
}
.container {
  width: 100%;
  padding: 0;
}

#page-content-wrapper .row {
  padding-top: 30px;
}

/* Navbar CSS */
.navbar {
  border-bottom-left-radius: 0;
}
.navbar-default {
  background-color: #2878e0;
  padding: 10px;
  border-color: transparent;
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.navbar-header {
  background-color: transparent;
  border-radius: 10px;
}

.navbar-header img {
  width: 50px;
  height: 50px;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-toggle {
  margin: 23px 0;
}

.navbar-brand img {
  height: 50px;
  width: 50px;
  margin: -15px 0;
}

.navbar-brand h1 {
    margin: -37px 50px;
    font-size: 25px;
    color: white;
}

/* Navbar item */
.dropdown-toggle {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
a.dropdown-toggle:hover {
  text-decoration: none;
}
a.dropdown-toggle:focus {
  text-decoration: none;
  background-color: transparent;
}
a.dropdown-toggle>.open:focus {
  text-decoration: none;
  background-color: transparent;
}


/* Header Content */
.content-header-media {
    position: relative;
    height: 248px;
    width: 2000px;
    overflow: hidden;
    border-top-color: #222222;
}
.header-title {
    margin: -10px -5px 10px -20px;
}

.header-section {
    padding: 30px 30px;
}
.header-section h1 {
  font-size: 30px;
  margin: -15px 0px;
}
.content-header-media .header-section {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    right: 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
}

.information-marquee {
  background-color: #1a2226;
  height: 30px;
  border-top: none;
  margin: -10px -10px;
}
.information-marquee p {
  margin: 5px 0px;
}



/* Component: Small Box */
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 95px;
}




/* Date and Time */
.navbar-right {
  padding: 15px;
  color: white;
}

/* Side Bar */
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 250px;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    padding-top: 70px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.sidebar-menu { padding-top: 30px; }
.sidebar-menu > li{
  text-indent: 20px;
  line-height: 40px;
  list-style-type: none;
  margin: 5px; 
}

.sidebar-menu li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-menu li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.sidebar-menu li {
  background-color:#b21515; /*Change for sidebar menu background-color*/
}

.sidebar-trigger {
  color: white;
  float: left;
  font-size: 30px;
  height: 50px;
  padding: 10px 0px;
  line-height: normal;

}

/* Sidebar Styles 



*/

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.profile-userpic img {
  float: none;
  margin: 25px auto 0;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 16px;
  color: #2878e0;
}

#profile-usertitle-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

#profile-usertitle-job {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}


/* Dashboard */

.dashboard {
  margin: 20px 25px 20px 25px;
}


.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.small-box > .inner {
  padding: 10px;
}

.bg-bloodbank {
  background-color: #DE1F26;
}

.panel-green > .panel-heading {
  border-color: transparent;
  color: white;
  background-color: #5cb85c;
  padding: 30px;
}
/* Profile Setting Page Styling */

.img-circle {
  width: auto;
  height: 250px;
}

#user_profile_row {
  padding-left: 50px;
}

#user_profile_title {
  margin: 50px 0px -20px 45px;
}
#change_profile {
  margin-right: 100px;
}

#photo_pack {
  min-width: 200px;
  height: auto;
}

/* @Media */

/* @media for navbar */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    width: 224px;
    text-align: center;
  }

  .navbar-brand img {
    margin-top: 5px;
    margin-left: 5px;
  }

  .navbar-brand h1 {
  }
}

@media (min-width: 480px) {
  .navbar {
    position: static;
  }
}

/* @Media for Small-box */
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
  .small-box h3 {
    size: 10px;
  }
}

/* @Media for Side-bar */

@media(min-width:768px) {
    .wrapper {
        padding-left: 0;
    }

    .wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    .wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper { /* Lebih ke Navbar */
        padding: 5px;
        position: relative;
    }

    .wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

